.top-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.25rem;
  bottom: 0.25rem;
  height: 6rem;
  width: 3rem;
  border: 0.25rem solid $primary-color;
  border-radius: 1.5rem;
  background: $body-color;
  z-index: 99;
  transform: translateY(6.25rem);
  transition: 0.25s ease-in-out 0.25s;

  &--active {
    transform: translateY(0);
  }

  &::before {
    content: 'Scroll to Top (It Works, but has bugs)';
    position: absolute;
    width: 18rem;
    line-height: 3rem;
    background: $primary-color;
    left: -19rem;
    text-align: center;
    color: $secondary-color;
    border-radius: 0.25rem;
    pointer-events: none;
    transition: background 0.25s ease 0.25s, opacity 0.25s ease 0.25s;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  i {
    font-size: 1.5rem;
    animation: topBtn 1.5s ease infinite;
  }
}

@keyframes topBtn {
  0%,
  100% {
    color: $primary-color;
  }

  50% {
    color: $secondary-color;
  }
}

// Line
.line {
  height: 0.25rem;
  background: $line-color;
}
