footer,
.footer {
  &_sponsors {
    background: $bg-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    min-height: 9rem;

    &--bitmart {
      width: 220px;
      height: 54px;
    }

    &--certik {
      width: 271px;
      height: 107px;
    }

    &--coinmarketcap {
      width: auto;
      height: 42px;
    }

    img {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
