footer,
.footer {
  &_social-icons {
    a {
      font-size: 2rem;
      margin-right: 2rem;
      transition: 0.25s ease;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}
