footer,
.footer {
  &_inner {
    display: flex;
    margin: auto;
    flex-direction: column;
  }

  &_logo {
    height: 6rem;
    // margin-bottom: 5.25rem;
    display: block;
  }

  &_sub-logo {
    width: 200px;
    margin: auto;
    padding-bottom: 1rem;
  }

  &_menus {
    display: flex;
    justify-content: space-around;
    // align-items: center;
  }

  &_menu {
    margin: 2rem;
  }

  &_menu-title {
    font-weight: 800;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    display: block;
  }

  &_menu-link {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: darken($secondary-color, 40%);
  }

  &_social-icons {
    display: none;
  }

  &_copyright-info {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .footer {
    &_logo {
      height: 4rem;
    }

    &_menu {
      &:last-child {
        display: none;
      }
    }

    &_menus {
      // flex-direction: column;
      // gap: 2rem;
      text-align: left;
    }

    &_social-icons {
      padding: 2rem 0 0;
      display: flex;
      justify-content: center;

      i {
        font-size: 1.75rem;
        margin: 0.5rem;
      }
    }

    &_copyright-info {
      font-size: 0.8rem;
    }
  }
}
