*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $primary-font-stack;
}

body {
  background: $body-color;
  color: $secondary-color;
  min-height: 100vh;
}

.container-1080 {
  max-width: $container-width-1080;
  margin: auto;
}

.container-960 {
  max-width: $container-width-960;
  margin: auto;
}

h1,
h2,
h3,
p {
  line-height: 2rem;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
  letter-spacing: -0.02em;
  color: $secondary-color;
}

@mixin span-color {
  color: $primary-color;
}
