*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $primary-font-stack;
}

body {
  background: $body-color;
  color: $secondary-color;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  &.disable-scroll {
    overflow: hidden !important;
  }
}

.container {
  max-width: $container;
  margin: auto;
}

.inner-container {
  max-width: $inner-container;
  margin: auto;
}

.gutter {
  padding: 0 $gutter-width;
}

.inner-gutter {
  padding: 3rem 5.75rem;
}

.inner-gutter-x {
  padding: 0 5.75rem;
}

.inner-gutter-y {
  padding: 3rem 0;
}

.line-gutter {
  padding: 6rem 0;

  &--offset {
    padding: 4rem 0 6rem 0;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

@mixin span-color {
  color: $primary-color;
}

@media (max-width: 40rem) {
  .next-line {
    display: block;
  }
}
