// Desktop Header
header,
.header {
  &_navbar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-height: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &_logo {
    position: relative;
    height: 3rem;
    flex-basis: 50%;
  }

  &_menu {
    flex-basis: 50%;
    display: flex;
    flex-grow: 1;
    align-items: center;

    @supports (gap: 1.25rem) {
      gap: 1.25rem;
    }
  }

  &_menu-link {
    font-size: 0.875rem;
    font-weight: 700;
    transition: 0.25s ease;
    margin-right: 1.25rem;

    @supports (gap: 1.25rem) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &_menu-button {
    font-size: 0.875rem;
    font-weight: 800;
    transition: 0.25s ease;
    border: 4px solid #f1f0f3;
    height: 2.625rem;
    width: 8rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $primary-color;
      border: 4px solid $primary-color;
    }
  }
}

// Mobile Header
.mobile-header {
  height: 7rem;
  background: $body-color-alt;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  transition: height 0.5s ease;

  &_active {
    height: 100%;
  }

  &_topbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 7.125rem;
  }

  &_logo {
    img {
      height: 2.75rem;
    }
  }

  &_button {
    .hamburger-box {
      height: 2.75rem;
    }
  }

  &_menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: calc(100vh - 7.125rem);
    background: $body-color;
  }

  &_menu-link {
    font-size: 1rem;
    font-weight: 700;
    transition: 0.25s ease;
    padding: 2rem 0;
    border-bottom: 2px solid $secondary-color;

    &:first-child {
      border-top: 4px solid $secondary-color;
    }

    &:last-child {
      border: 4px solid #f1f0f3;
      padding: 0.75rem 1.125rem;
      border-radius: 0.5rem;
      margin: 2rem auto 0;
      width: 10rem;

      &:hover {
        color: $primary-color;
        border: 4px solid $primary-color;
      }
    }

    &:hover {
      color: $primary-color;
    }
  }
}

.mobile-header {
  display: none;
}

@media (max-width: 767px) {
  .header {
    display: none;
  }

  .mobile-header {
    display: block;
  }
}
