// Desktop Header
header,
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  transition: background 0.125s ease;

  &.active {
    background: $body-color-alt;
  }

  &_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &_logo {
    height: 2.75rem;
    img {
      height: 2.75rem;
    }
  }

  &_menu {
    display: flex;
    align-items: center;
  }

  &_menu-link {
    font-size: 0.875rem;
    font-weight: 700;
    transition: 0.25s ease;
    display: flex;
    margin-right: 1rem !important;

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &_menu-button {
    font-size: 0.875rem;
    font-weight: 800;
    transition: 0.25s ease;
    width: 10rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.25s ease, background 0.25s ease;
    background: $primary-color;
    border-radius: 0.5rem;

    &:hover {
      background: darken($primary-color, 20%);
    }
  }
}

// Mobile Header
.mobile-header {
  height: 7.125rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;

  &_navbar {
    height: inherit;
  }

  &_topbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 7.125rem;
    z-index: 99;
    position: relative;
    transition: height 0.5s ease, background 0.125s ease;

    &--active {
      background: $body-color-alt;
    }
  }

  &_logo {
    img {
      height: 2.75rem;
    }
  }

  &_button {
    .hamburger-box {
      height: 2.75rem;
    }
  }

  &_menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 0;
    background: $body-color;
    height: calc(100vh - 7.125rem);
    transform: translateY(calc(-100vh - 7.125rem));
    transition: 0.5s ease;
    position: relative;
    z-index: 1;

    &--open {
      transform: translateY(0vh);
    }
  }

  &_menu-link {
    font-size: 1rem;
    font-weight: 700;
    transition: 0.25s ease;
    padding: 2rem 0;
    border-bottom: 2px solid $secondary-color;

    &:first-child {
      border-top: 4px solid $secondary-color;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &:hover {
    color: $primary-color;
  }

  &_menu-button {
    font-size: 0.875rem;
    font-weight: 800;
    transition: 0.25s ease;
    width: 10rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.25s ease, background 0.25s ease;
    background: $primary-color;
    border-radius: 0.75rem;
    margin: 2rem auto;

    &:hover {
      background: darken($primary-color, 20%);
    }
  }
}

.mobile-header {
  display: none;
}

@media (max-width: 767px) {
  .header {
    display: none;
  }

  .mobile-header {
    display: block;
  }
}
