.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 8.25rem 0;
  background: $bg-light;
  min-height: 29.5rem;

  &_title {
    color: $primary-color;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: $primary-font-stack;
    text-transform: uppercase;
    line-height: 3.5rem;
  }

  &_sub-title {
    color: $neutral-gray;
    font-size: 2rem;
    font-weight: 600;
    font-family: $primary-font-stack;
    text-transform: uppercase;
    line-height: 2.75rem;
  }

  &_description {
    font-size: 1.25rem;
    color: $neutral-gray;
    font-family: $tertiary-font-stack;
    width: 38.375rem;
    margin: auto;
    padding: 2rem 0;
  }

  &_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_button {
    background: $primary-color;
    border-radius: 0.3125rem;
    transition: background 0.25s ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: $neutral-gray;
    }
  }

  &_button-link {
    display: inline-block;
    font-weight: 600;
    font-size: 1.25rem;
    font-family: $secondary-font-stack;
    width: 212px;
    line-height: 56px;
    color: $text-white;
    transition: color 0.25s ease;
  }

  &_stats {
    color: $primary-color;
    font-weight: 700;
    min-height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }

  &_data {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin-right: 2.875rem;
    font-weight: 600;
    font-family: $primary-font-stack;
    letter-spacing: -0.02rem;

    &:last-child {
      margin-right: 0rem;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    span {
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: $secondary-font-stack;
    }
  }
}
