.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 9rem 0;
  background: $text-white;
  min-height: 29.5rem;

  &_title {
    color: $primary-color;
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.25;
  }

  &_sub-title {
    color: $text-dark;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &_description {
    font-size: 1.25rem;
    color: $text-gray;
    width: 60%;
    margin: auto;
    padding: 2rem 0;
  }

  &_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_button {
    background: $primary-color;
    border-radius: 0.25rem;
    margin-right: 3rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &_button-link {
    color: $text-white;
    padding: 1rem 2rem;
    display: inline-block;
    font-weight: 600;
  }
}
