.project-roadmap {
  position: relative;

  &_inner {
    overflow-x: hidden;
  }

  &_title {
    font-weight: 800;
    font-size: 2.125rem;
    line-height: 2.5rem;
    font-family: $primary-font-stack;
    text-transform: uppercase;
    text-align: center;
    color: $tertiary-color;

    &--white {
      color: $secondary-color;
    }
  }

  &_details,
  &_description {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    // color: $primary-color;
    text-align: center;
    display: block;
  }

  &_rectangle-list {
    padding: 5.5rem 0;
  }

  &_rectangle {
    height: 200px;
    position: relative;
    right: 6rem;
    border-radius: 0px 50px 50px 0px;
    padding: 0 5.875rem;
    text-align: right;
    border: 0.5rem solid $secondary-color;
    background: $tertiary-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_content {
      position: absolute;
      top: 0;
    }

    h3,
    p {
      text-align: right;
    }

    &--pink {
      position: relative;
      margin: 6.25rem 0;
      border-radius: 50px 0px 0px 50px;
      left: 6rem;
      background: $primary-color;
      justify-content: flex-start;

      h3,
      p {
        text-align: left;
      }
    }
  }

  &_arrow {
    display: none;
  }

  &_description {
    margin: 0.75rem auto 0;

    &--last {
      max-width: 634px;
    }

    &--white {
      color: $secondary-color;
    }

    .date {
      display: block;
      font-size: 1.25rem;
    }
  }

  &_color {
    color: $primary-color;
  }
}

@media (max-width: 767px) {
  .project-roadmap {
    &_title {
      font-size: 1.625rem;
    }

    &_details {
      font-size: 1.25rem;
    }

    &_rectangle-list {
      padding-bottom: 0;
    }

    &_rectangle {
      padding: 3rem;

      h3 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.25rem;
      }

      &:nth-child(even) {
        padding: 3rem;
      }
    }

    .date {
      font-size: 1rem;
    }
  }
}

@media (max-width: 640px) {
  .project-roadmap {
    &_rectangle {
      padding: 2rem;
      right: 3rem;

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }

      &:nth-child(even) {
        padding: 2rem;
        left: 3rem;
      }

      .date {
        font-size: 0.875rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .project-roadmap {
    &_rectangle {
      padding: 0.75rem;
      right: 0;
      border-radius: 0;
      justify-content: center;

      &--pink {
        left: 0;
        margin: 0;
      }

      h3 {
        font-size: 22px;
        text-align: center;
      }

      p {
        font-size: 1rem;
        text-align: center;
      }

      &:nth-child(2) {
        padding: 1rem;
        left: 0;
      }

      .date {
        font-size: 1rem;
      }
    }

    &_arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3rem 0;
    }
  }
}
