// Main Colors
$primary-color: #ab45e7;
$secondary-color: transparent;

// Light Theme Colors
$light-color: #e4e0e8;
$lighter-color: #f1f0f3;
$white-color: #ffffff;
$neutral-gray: #76648b;

// Dark Theme Colors
$dark-color: #18141c;
$black-color: #000000;

// Text Colors
$text-white: $white-color;
$text-light: $lighter-color;
$text-dark: $dark-color;
$text-gray: $dark-color;
$text-black: $black-color;

// Background Colors
$bg-light: $white-color;
$bg-dark: $dark-color;

// Container Width
$container-width: 90rem;

// Font Family
$primary-font-stack: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
$secondary-font-stack: 'Inter', 'Open Sans', Arial, Helvetica, sans-serif;
$tertiary-font-stack: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
$default-font-stack: 'Open Sans', Arial, Helvetica, sans-serif;
