// Dark Theme
@media (prefers-color-scheme: dark) {
  body {
    background: $darker-color;
  }

  header,
  .header {
    color: $text-white;

    &_top {
      background: $dark-color;
    }

    &_social-icons {
      a {
        color: $text-white;
      }
    }

    &_navbar {
      background: $lighter-color;
      // background: $white-color;
      background: $darker-color;
    }

    &_navbar-link {
      color: $text-white;
    }
  }

  .hero {
    background: $darker-color;

    &_title {
      color: $primary-color;
    }

    &_sub-title {
      color: $text-white;
    }

    &_description {
      color: $text-light;
    }

    &_button {
      background: $text-white;
    }

    &_button-link {
      color: $primary-color;
    }
  }

  footer,
  .footer {
    &_stats {
      color: $text-white;
      background: $dark-color;
    }

    &_brands {
      background: $light-color;
    }
  }
}

.theme-toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 4rem;
  height: 3rem;
  width: 6rem;
  border: 0.125rem solid $primary-color;
  border-radius: 1.5rem;

  .light-btn,
  .dark-btn {
    width: 100%;
    font-size: 2rem;
    border: none;
    background-color: $secondary-color;
  }

  .light-btn {
    z-index: 1;
    animation: spin 4s linear infinite;
  }

  .dark-btn {
    z-index: 2;
    animation: shine 2s ease infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0) scale(1);
    }

    50% {
      transform: rotate(180deg) scale(1.25);
    }

    100% {
      transform: rotate(360deg) scale(1);
    }
  }

  @keyframes shine {
    0%,
    100% {
      color: $text-dark;
    }

    50% {
      color: $text-light;
    }
  }
}
