// Dark Theme
@media (prefers-color-scheme: dark) {
  // body {
  //   background: $bg-dark;
  // }

  header,
  .header {
    &_topbar {
      background: $bg-dark;
    }

    &_contract-address {
      color: $text-white;
    }

    &_social-icons {
      a {
        color: $text-white;
      }
    }

    &_navbar {
      background: $bg-light;
    }

    &_navbar-link {
      color: $primary-color;
    }
  }

  .hero {
    background: $bg-dark;

    &_title {
      color: $primary-color;
    }

    &_sub-title {
      color: $text-white;
    }

    &_description {
      color: $text-light;
    }

    &_button {
      background: $bg-light;

      &:hover {
        background: $primary-color;
      }
    }

    &_button-link {
      color: $primary-color;

      &:hover {
        color: $text-white;
      }
    }

    &_stats {
      color: $text-white;
      background: $bg-dark;
    }

    &_sponsors {
      background: $bg-gray;
    }
  }
}

.theme-toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2rem;
  bottom: 2rem;
  height: 3rem;
  width: 3rem;
  border: 0.125rem solid $primary-color;
  border-radius: 50%;
  text-align: center;
  z-index: 100;
  // will-change: contents;

  &::before {
    content: 'Switch to Light/Dark Theme (Does Not Work Yet)';
    position: absolute;
    width: 28rem;
    line-height: 3rem;
    background: $primary-color;
    right: -29rem;
    text-align: center;
    color: $text-white;
    border-radius: 0.25rem;
    pointer-events: none;
    transition: background 0.25s ease, opacity 0.25s ease;
    opacity: 0;
  }

  &:hover {
    i {
      animation: themeBtn 2s ease infinite;
    }

    &::before {
      opacity: 1;
    }
  }

  .light-btn,
  .dark-btn {
    position: absolute;
    width: 100%;
    font-size: 2rem;
    border: none;
    background-color: $secondary-color;
    cursor: pointer;
  }
}

.top-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2rem;
  bottom: 2rem;
  height: 3rem;
  width: 3rem;
  border: 0.125rem solid $primary-color;
  border-radius: 1.5rem;
  z-index: 100;

  &::before {
    content: 'Scroll to Top (Does Not Work Yet)';
    position: absolute;
    width: 18rem;
    line-height: 3rem;
    background: $primary-color;
    left: -19rem;
    text-align: center;
    color: $text-white;
    border-radius: 0.25rem;
    pointer-events: none;
    transition: background 0.25s ease, opacity 0.25s ease;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  i {
    font-size: 1.5rem;
    animation: topBtn 2s ease infinite;
  }
}

@keyframes themeBtn {
  0%,
  100% {
    color: $text-black;
  }

  50% {
    color: darken($text-light, 20%);
  }
}

@keyframes topBtn {
  0%,
  100% {
    color: $text-black;
    transform: translate3d(0, -1px, 0);
  }

  50% {
    color: darken($text-light, 20%);
    transform: translate3d(0, 1px, 0);
  }
}
